   * {
       font-family: "Outfit", sans-serif;

   }

   .container {
       width: 100%;
       max-width: 25.125rem;
       margin-inline: auto;
       padding-inline: clamp(1rem, 4vw, 2rem);
   }